
    body {
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(135deg, #667eea, #764ba2);
        color: white;
        text-align: center;
        margin: 0;
    }

    .container {
        background: rgba(255, 255, 255, 0.2);
        padding: 30px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        width: 90%;
        max-width: 500px;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

  


 /* !___________________________________________________________ button________________________________________ */
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .buttons {
        margin: 10%;
        text-align: center;
    }
    
    .btn-hover {
        width: 200px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin: 20px;
        height: 55px;
        text-align:center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .btn-hover:hover {
        background-position: 100% 0;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .btn-hover:focus {
        outline: none;
    }

    .btn-hover.color {
        background-image: linear-gradient(to right, #d4115f, #cc4413, #d4014f , #e79107);
    box-shadow: 0 4px 15px 0 rgba(226, 76, 116, 0.75);
}
    